@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

@font-face {
    font-family: 'MiFuente'; /* Nombre que le asignas a la fuente */
    src: url('PlayfairDisplay-Bold.ttf') format('truetype'); }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
  
  }
body{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    background-image: url(fonod.webp);
 

}
.contenedor {
    position: relative; /* Establece un contexto de posicionamiento */
    justify-content: center;
    
}
.fondo img {
    height: 700px;
    margin-left: 769px;
    margin-top: 420px;
    
    
    
}

    

.Buscador {
    display: flex;
    align-items: center;
    min-width: 700px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    margin-top: -458px;
    right: 620px;
    

}

.despegable { 
    position: relative;
    width: 280px;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    background-color: purple;
    box-shadow: shadow;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color:rgb(255, 255, 255);
    padding: 1rem 1.5rem;
}

.lista-despegable {
    display: block;
    position:absolute;
    top: 4rem;
    left:0;
    width:100%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}   

#list.show{
    max-height: 300px;

}
.lista-despegable-item {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1rem 0 1rem 1.5rem;
    cursor:pointer;
    transition: margin-left 0.2s ease, color 0.2s ease;
    background-color: white;
}

.lista-despegable-item:hover {
    margin-left: 0.5rem;
    color: purple;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    width: 100%;
    color: purple;

}

.barra-busqueda input {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: purple;
    border: 0;
    outline: 0;
}

.barra-busqueda i{
    font-size: 1.3rem;
    cursor: pointer;

}
.barra-busqueda input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color:purple;

}

.btn {
    cursor: pointer;
    font-size: 1.5rem;

}

.meal-result {
    margin-top: 4rem;
    
}

.meal-item{
    
    background-size: 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    
   
    background-size: 100%;
    
    
}
 
.meal-img{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
}





.meal-img img:last-child {
    display: block;
    margin-left: -292px;
    top: 100; 
    left: 99; 
    height: 187px;
    width: 260px;
    margin-bottom: 67px;
    object-fit: cover;
}


.meal-img img {
    width: 100%;
    display: block;
    max-width:322px;
  
    width: auto;
    height: auto;
   
}
.meal-name {
    padding: 1.5rem 0.5rem;
    text-align: center;
    
}


.meal-name h3{
    font-size: 20px;
    text-align: center;
    font-family: 'MiFuente', sans-serif;
    font-weight: 400;
    color: #4e3b20;
    font-style: bold;
    margin-top: -150px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
    margin-left: 100px;
    max-width: 230px;
   overflow: hidden;
   text-overflow: ellipsis; 
   white-space: nowrap;

}

.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: teal;
    font-weight: 500;
    font-size: 1,1rem;
    padding: 0.3rem 0;
    display: block;
    width: 135px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2 rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}

.meal-details {
 
    width: 2000px;
    height: 900px;
    text-align: center;
    background-image: url(mapa2.png);
    background-size: cover; /* Para cubrir toda el área del div con la imagen */
    background-position: center; /* Para centrar la imagen */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    z-index: 1;
   position: absolute;
    max-width: 100%;

    
    display: none;
    

    
}

.recipe-meal-img img {
   
    width: 200px;
    height: 200px;
    padding-top: 25px;
    margin: 0 auto;
    display: block;
    
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background-color: #f1d2a7;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 5rem;
    
    margin-top: 150px;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct{
   
    max-width: 700px;
    margin-left: 270px;
    
}

@media screen and (min-width: 588px) {
    #meal{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:5rem;
    }
    
}
#meal {
    min-height: 10vh;
    max-height: 10vh;
    height: 10vh; 
    display: none;

    
  
}

.showRecipe{
    display: block;
}
